body {
    font-family: 'DM Sans', sans-serif;
    background-color: #f8f6f7;
}

.bundle {
    padding: 20px;
}

.row {
    padding: 5px;
}

.incorrect {
    color: #c83c51;
}

.correct {
    color: #2e744b;
}

.buffer {
    height: 100px;
}

.left {
    text-align: right;
}

.right {
    text-align: left;
}

.gap {
    word-wrap: break-word;
}