body {
    font-family: 'DM Sans', sans-serif;
}

.bundle {
    padding: 20px;
}

.incorrect {
    color: #ff955f;
}

.correct {
    color: #a6c64c;
}

.buffer {
    height: 100px;
}

.left {
    text-align: right;
}

.right {
    text-align: left;
}